.jsonview {
    font: 12px Arial;	
}

.jsonview .pair {
    padding-left: 15px;
}

.jsonview .key {
    font: bold 12px Arial;	
    display: inline;
}

.jsonview .key:after {
    content: ':';
}

.jsonview .value {
    display: inline;

}